package templates

import (
	"github.com/rramiachraf/observe/monitor"
)

templ MainPage(m *monitor.Monitor) {
	@layout("") {
		@Monitor(m)
		<script type="text/javascript">
			const ws = new WebSocket("/ws")
			ws.onmessage = function(msg) {
				document.getElementById("container").innerHTML = msg.data
			}
		</script>
	}
}
